<%= form_for(@hive_record) do |f| %>
  <% if @hive_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hive_record.errors.count, "error") %> prohibited this hive_record from being saved:</h2>

      <ul>
      <% @hive_record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label 'Hive #:' %>
  <%= f.number_field 'hive_id_temp' %>

  <br />

  <%= f.label 'Hive Temperament:' %>
  <%= f.select :hive_temperament, ['Calm', 'Nervous', 'Agressive', 'Time to requeen']%>

  <br />

  <%= f.label 'Laying Pattern:' %>
  <%= f.select :laying_pattern, ['Beautiful (Solid & Uniform)', 'Mediocre (Intermittent or Random)', 'Poor (Spotty)']%>
  
  <br />

  <%= f.label 'Eggs Present' %>
  <%= f.check_box :eggs_present %>

  <br />

  <%= f.label 'Egg comments:' %>
  <%=f.text_field :eggs_present_comment %>

  <br />

  <%= f.label 'Population:' %>
  <%= f.select :population, ['Heavy', 'Moderate', 'Low']%>

  <br />

  <%= f.label 'Added deep body' %>
  <%= f.check_box :deep_body %>

  <br />

  <%= f.label 'Split Hive' %>
  <%= f.check_box :split_hive %>

  <br />

  <%= f.label 'Swarming imminent - needs monitoring' %>
  <%= f.check_box :swarming_imminent %>

  <br />

  <%= f.label 'Excessive Drone Cells' %>
  <%= f.check_box :excessive_drone_cells %>

  <br />

  <%= f.label 'Drone Population Estimate' %>
  <%= f.number_field :drone_pop_est %>

  <br />

  <%= f.label 'Queen Cells' %>
  <%= f.check_box :queen_cells %>

  <%= f.label 'Along Frame Bottom:', :class => 'queen_optional_record_field' %>
  <%= f.number_field :queen_cells_frame_bottom, :class => 'queen_optional_record_field'%>

  <%= f.label 'Converted worker cell:', :class => 'queen_optional_record_field' %>
  <%= f.number_field :queen_cells_converted, :class => 'queen_optional_record_field' %>

  <br />

  <%= f.label 'Disease or Pests' %>
  <%= f.check_box :disease_or_pest %>
  <%= f.label 'Type:', :class => 'disease_optional_record_field' %>
  <%= f.select :type_of_disease_pest, ['Chalkbrood', 'Nosema', 'Varroa Mites', 'Tracheal Mites', 'EFB', 'AFB', 'Small Hive Beetle', 'Other'], :include_blank => true %>
  
  <br />

  <%= f.label 'Medications' %>
  <%= f.check_box :medication %>
  <%= f.label 'Added', :class => 'med_optional_record_field' %>
  <%= f.select :meds_added, ['Apistan', 'Apiguard', 'Mite Away II', 'Tylan', 'Fumagilin-B', 'Terramycin', 'Other'], :include_blank => true %>
  <%= f.label 'Removed', :class => 'med_optional_record_field' %>
  <%= f.select :meds_removed, ['Apistan', 'Apiguard', 'Mite Away II', 'Tylan', 'Fumagilin-B', 'Terramycin', 'Other'], :include_blank => true %>

  <br />

  <%= f.label 'Integrated Pest Management' %>
  <%= f.check_box :ipm_used %>
  <%= f.select :ipm, ['Screened bottom board', 'Powedered sugar mite drop', 'Drone cell foundation', 'Other'], :include_blank => true %>

  <br />

  <%= f.label 'Hive Condition' %>
  <%= f.select :hive_condition, ['Normal', 'Brace comb', 'Burr comb', 'Excessive Propolis'] %>

  <%= f.label 'Hive Odor' %>
  <%= f.select :hive_odor, ['Normal', 'Foul'] %>

  <br />
  <%= f.label 'Replace Equipment:' %>
  <%= f.check_box :replace_equipment %>
  <%= f.label 'Equipment to replace:', :class => 'replace_equip_optional_record_field' %>
  <%= f.text_field :equip_to_replace, :class => 'replace_equip_optional_record_field' %>

  <br />

  <%= f.label 'Replace Foundation:' %>
  <%= f.check_box :replace_foundation %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
