<%= form_for(@hive_record) do |f| %>
  <% if @hive_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hive_record.errors.count, "error") %> prohibited this hive_record from being saved:</h2>

      <ul>
      <% @hive_record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label 'Hive #:' %>
  <%= f.number_field 'hive_id_temp' %>

  <br />

  <%= f.label 'Hive Temperament:' %>
  <%= f.select :hive_temperament, ['Calm', 'Nervous', 'Agressive', 'Time to requeen']%>

  <br />

  <%= f.label 'Laying Pattern:' %>
  <%= f.select :laying_pattern, ['Beautiful (Solid & Uniform)', 'Mediocre (Intermittent or Random)', 'Poor (Spotty)']%>
  
  <br />

  <%= f.label 'Eggs Present (if No, leave blank)' %>
  <%= f.check_box :eggs_present %>

  <br />

  <%= f.label 'Egg comments:' %>
  <%=f.text_field :eggs_present_comment %>

  <br />

  <%= f.label 'Population:' %>
  <%= f.select :population, ['Heavy', 'Moderate', 'Low']%>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
