<%= form_for(@hive_record) do |f| %>
  <% if @hive_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hive_record.errors.count, "error") %> prohibited this hive_record from being saved:</h2>

      <ul>
      <% @hive_record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label 'Hive #:' %>
  <%= f.number_field 'hive_id_temp' %>

  <br />

  <%= f.label 'Hive Temperament:' %>
  <%= f.select :hive_temperament, ['Calm', 'Nervous', 'Agressive', 'Time to requeen']%>

  <br />

  <%= f.label 'Laying Pattern:' %>
  <%= f.select :laying_pattern, ['Beautiful (Solid & Uniform)', 'Mediocre (Intermittent or Random)', 'Poor (Spotty)']%>
  
  <br />

  <%= f.label 'Eggs Present (if No, leave blank)' %>
  <%= f.check_box :eggs_present %>

  <br />

  <%= f.label 'Egg comments:' %>
  <%=f.text_field :eggs_present_comment %>

  <br />

  <%= f.label 'Population:' %>
  <%= f.select :population, ['Heavy', 'Moderate', 'Low']%>

  <br />

  <%= f.label 'Added deep body' %>
  <%= f.check_box :deep_body %>

  <br />

  <%= f.label 'Split Hive' %>
  <%= f.check_box :split_hive %>

  <br />

  <%= f.label 'Swarming imminent - needs monitoring' %>
  <%= f.check_box :swarming_imminent %>

  <br />

  <%= f.label 'Excessive Drone Cells' %>
  <%= f.check_box :excessive_drone_cells %>

  <br />

  <%= f.label 'Drone Population Estimate' %>
  <%= f.number_field :drone_pop_est %>

  <br />

  <%= f.label 'Queen Cells' %>
  <%= f.check_box :queen_cells %>

  <br />

  <%= f.label 'Along Frame Bottom:' %>
  <%= f.number_field :queen_cells_frame_bottom %>

   <br />

  <%= f.label 'Converted worker cell:' %>
  <%= f.number_field :queen_cells_converted %>

  <br />

  <%= f.label 'Disease or Pests' %>
  <%= f.check_box :disease_or_pest %>
  <%= f.label 'Type:' %>
  <%= f.select :type_of_disease_pest, ['Chalkbrood', 'Nosema', 'Varroa Mites', 'Tracheal Mites', 'EFB', 'AFB', 'Small Hive Beetle', 'Other'], :include_blank => true%>
  <br />


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
