<p id="notice"><%= notice %></p>

<h1 style="text-align:center">Hives</h1>

<!-- <table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hives.each do |hive| %>
      <tr>
        <td><%= link_to 'Show', hive %></td>
        <td><%= link_to 'Edit', edit_hive_path(hive) %></td>
        <td><%= link_to 'Destroy', hive, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br> -->



<div class="container" id="hive-data-table">
  
  <div class="row" id="new-hive-icon-row">
    <%= link_to 'NEW HIVE ICON', new_hive_path %>
  </div>

  <div class="row" id="hive-data-table-headers">
    <div class="col-sm-2 col-sm-offset-1">
      HIVE ID
    </div>
    <div class="col-sm-1 col-sm-offset-1">
      ALERTS
    </div>
     <div class="col-sm-1 col-sm-offset-1">
      VISITS
    </div>
     <div class="col-sm-1 col-sm-offset-1">
      LAST
    </div>
    <div class="col-sm-1 col-sm-offset-1">
      EDIT
    </div>
    <div class="col-sm-1">
      DELETE
    </div>
  </div>

  <% @hives.each do |hive| %>
  <div class="row hive-data-table-info">
    <div class="col-sm-2 col-sm-offset-1">
      <%= link_to "Hive #{hive.id}", hive_path(:id => hive.id) %>
    </div>
    <div class="col-sm-1 col-sm-offset-1 glyphicon glyphicon-alert alert-hive-db"></div>
    <div class="col-sm-1 col-sm-offset-1 num-hive-rec-db">
      <%= HiveRecord.where("hive_id":hive.id).length %>
    </div>
     <div class="col-sm-1 col-sm-offset-1">
      DATE
    </div>
    <div class="col-sm-1 col-sm-offset-1">
      <%= link_to '', edit_hive_path(hive), class: "glyphicon glyphicon-edit edit-hive-db" %>
    </div>

    <div class="col-sm-1">
      <%= link_to '', hive, method: :delete, data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-trash delete-hive-db" %>
    </div>
    
  </div>
  <% end %>

</div>


