<p id="notice"><%= notice %></p>

<h1>Listing Hives</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hives.each do |hive| %>
      <tr>
        <td><%= link_to 'Show', hive %></td>
        <td><%= link_to 'Edit', edit_hive_path(hive) %></td>
        <td><%= link_to 'Destroy', hive, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hive', new_hive_path %>
